<p id="notice"><%= notice %></p>

<h1>Todas las recetas</h1>

<table>
  <thead>
    <tr>
      <th>Título</th>
      <th>Ingredientes</th>
      <th>Preparación</th>
      <th>Región</th>
      <th>Imagén</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ideas.each do |idea| %>
      <tr>
        <td><%= idea.titulo %></td>
        <td><%= idea.ingredientes %></td>
        <td><%= idea.preparacion %></td>
        <td><%= idea.region %></td>
        <td><%= idea.picture %></td>
        <td><%= link_to 'Ver', idea %></td>
        <td><%= link_to 'Editar', edit_idea_path(idea) %></td>
        <td><%= link_to 'Eliminar', idea, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'agregar una receta', new_idea_path %>
