<p id="notice"><%= notice %></p>

<p>
  <strong>Título:</strong>
  <%= @idea.titulo %>
</p>

<p>
  <strong>Ingredientes:</strong>
  <%= @idea.ingredientes %>
</p>

<p>
  <strong>Preparación:</strong>
  <%= @idea.preparacion %>
</p>

<p>
  <strong>Región:</strong>
  <%= @idea.region %>
</p>

<p>
  <strong>Imagén:</strong>
  <%= image_tag(@idea.picture_url, :width => 600) if @idea.picture.present? %>
</p>

<%= link_to 'Editar', edit_idea_path(@idea) %> |
<%= link_to 'Atrás', ideas_path %>
